/*Custom CSS*/

.slider-content-box {
    display: none;
}

.slider-content-box {
    display: none;
}

.mobile-menu li.selected a {
    background: #8cc63e;
}

#overflow-x {
    overflow-x: hidden;
}

li.quote {
    width: 70%;
    display: block;
    margin: auto;
}

.green,
.box-header:after {
    background: #8cc63e;
}

.more,
.more[type="submit"],
.social-icons.yellow li {
    background: #8cc63e;
    border: 2px solid #8cc63e;
}

.features-list li:before,
li.template-bullet:before,
.contact-details-list li:before,
.sf-menu li:hover a,
.sf-menu li:hover a:visited,
.sf-menu a:hover,
.sf-menu a:visited:hover,
.sf-menu li.selected a {
    color: #8cc63e;
}

@media screen and (min-width: 1200px) {
    .quote .vertical-align {
        width: 50%;
        display: block;
        margin: 30px auto -40px;
    }
    .quote .vertical-align-cell {
        width: 50%;
        display: block;
        margin: auto;
    }
}

@media screen and (max-width: 767px) {
    .header .mobile-menu-switch {
        display: inline-block;
        float: right;
        margin-top: 30px;
    }
    .header .logo {
        width: 70%;
        display: inline-block;
        float: left;
    }
    .mobile-menu-switch:hover .line {
        background: #8cc63e;
    }
}
